In [ ]:
# new_student = "INSERT INTO student_grades VALUES ('GP','M',17,'U','LE3','T',4,F,'teacher','teacher','course','mother',3,2,0,'no','no','no','no','no','no','no','no',1,1,1,1,1,1,1,1,1,1);"
# cursor.execute(new_student)

In [ ]:
# student_info = (school="GP",sex="M",age=17,address="U",famsize="LE3",Pstatus="T",Medu=4,Fedu=3,Mjob="teacher",Fjob="teacher",reason="course",guardian="mother",traveltime="3",studytime="2",failures="0",schoolsup="no",famsup="no",paid="no",activities="no",nursery="no",higher="no",internet="no",romantic="no",famrel="1",freetime="1",goout="1",Dalc="1",Walc="1",health="1",absences="1",G1="1",G2="1",G3="1")

In [ ]:
# (school="GP",sex="M",age=17,address="U",famsize="LE3",Pstatus="T",Medu=4,Fedu=3,Mjob="teacher",Fjob="teacher",reason="course",guardian="mother",traveltime="3",studytime="2",failures="0",schoolsup="no",famsup="no",paid="no",activities="no",nursery="no",higher="no",internet="no",romantic="no",famrel="1",freetime="1",goout="1",Dalc="1",Walc="1",health="1",absences="1",G1="1",G2="1",G3="1")

In [ ]:
#Add new student to table
# INSERT INTO df (table_values) VALUES (1, 'Cheese', 9.99);

In [ ]:
# new_student = insert(student_grades).values(
#     school="GP",
#     sex="M",
#     age=17,
#     address="U",
#     famsize="LE3",
#     Pstatus="T",
#     Medu=4,
#     Fedu=3,
#     Mjob="teacher",
#     Fjob="teacher",
#     reason="course",
#     guardian="mother",
#     traveltime="3",
#     studytime="2",
#     failures="0",
#     schoolsup="no",
#     famsup="no",
#     paid="no",
#     activities="no",
#     nursery="no",
#     higher="no",
#     internet="no",
#     romantic="no",
#     famrel="1",
#     freetime="1",
#     goout="1",
#     Dalc="1",
#     Walc="1",
#     health="1",
#     absences="1",
#     G1="1",
#     G2="1",
#     G3="1",
# )
# print(new_student)

In [ ]:
# # Create New Student Information Dictionary, convert to Pandas DataFrame
# new_student = {
#     "school": "GP",
#     "sex": "M",
#     "age": 17,
#     "address": "U",
#     "famsize": "LE3",
#     "Pstatus": "T",
#     "Medu": 4,
#     "Fedu": 3,
#     "Mjob": "teacher",
#     "Fjob": "teacher",
#     "reason": "course",
#     "guardian": "mother",
#     "traveltime": 3,
#     "studytime": 2,
#     "failures": 0,
#     "schoolsup": "no",
#     "famsup": "no",
#     "paid": "no",
#     "activities": "no",
#     "nursery": "no",
#     "higher": "no",
#     "internet": "no",
#     "romantic": "no",
#     "famrel": 1,
#     "freetime": 1,
#     "goout": 1,
#     "Dalc": 1,
#     "Walc": 1,
#     "health": 1,
#     "absences": 1,
#     "G1": 1,
#     "G2": 1,
#     "G3": 1,
# }
# new_student_df = pd.DataFrame.from_dict(new_student, orient="index").T

In [ ]:
# # Send new student data to 
# new_student_df.columns = (new_student_df.columns.str.lower())  

# # Export DataFrame to PostgreSQL table "student_grades" using SQLAlchemy
# new_student_df.to_sql(table_name, engine, index=False, if_exists="append")

In [ ]:
# # ALTERNATE CONNECTION METHOD USING PSYCOPG2
# # Connect to the database
# connection = psycopg2.connect(
#     host="localhost",
#     user="postgres",
#     password="password",
#     database="student_grades",
# )
# cursor = connection.cursor()

# # Prepare the SQL command dynamically
# columns = ", ".join(new_student.keys())
# placeholders = ", ".join(["%s"] * len(new_student))
# sql = f"INSERT INTO student_grades ({columns}) VALUES ({placeholders})"

# # Specify values for the new row
# values = tuple(new_student.values())

# # Execute the SQL command
# cursor.execute(sql, values)

# # Commit the transaction
# connection.commit()

# # Close the cursor and connection
# cursor.close()
# connection.close()

In [ ]:
# # New student insert object
# def add_student(student_info)

#     conn = psycopg2.connect(
#         host="localhost",
#         user="postgres",
#         password="password",
#         database="student_grades",
#     )
#     cursor = conn.cursor()

#     sql = INSERT tablename VALUES ('')
#     val_holder = ", ".join(["%s"] * len(student_info))
#     sql = f"INSERT INTO student_grades VALUES ({val_holder})"
#     values = tuple(student_info.values())
#     cursor.execute(sql, values)
#     conn.commit()
#     cursor.close()
#     conn.close()